/* PaginaInicial.module.css */
.paginaInicialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    position: relative;
    padding: 20px;
}

.alerta {
    position: fixed;
    top: 170px;
    right: 120px;
    font-size: 30px;
    cursor: pointer;
    color: transparent;
    transition: color 0.3s ease;
    z-index: 1000;
}

.alertaAmarelo {
    color: yellow;
}

.alertaVermelho {
    color: red;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin-top: 0;
}

.btnLog {
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #2D9596;
    transition: background-color 0.3s ease;
}

.btnLog:hover {
    background-color: #20696a;
}

.btnLog:focus {
    outline: none;
}