/* PaginaInicial.module.css */

.paginaInicialContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;
}

.alerta {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: transparent;
    transition: color 0.3s ease;
}

.alertaShow {
    color: yellow;
}

.alertaShowRed {
    color: red;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin-top: 0;
}

.btnLog {
    color: white;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 200px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff; /* Adicionei uma cor de fundo padrão */
    transition: background-color 0.3s ease;
}

.btnLog:hover {
    background-color: #0056b3;
}

.btnLog:focus {
    outline: none;
}