.avatar-container {
    margin-left: 0%;
    margin-right: auto;
    margin-top: -5%;
    display: inline-block;
    font-weight: bold;
    position: relative; /* Mover a posição relativa para cá para evitar repetição */
}



.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    overflow: hidden; /* Para esconder o excesso de sombra */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.menu {
    display: none;
    position: absolute;
    top: 100%; /* Alteração para alinhar o menu abaixo do avatar */
    background-color: #fff; /* Mudança de cor do menu */
    border: 1px solid #ccc;
    border-radius: 15px; /* Adicionando borda arredondada ao menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 220px;
    left: 50%; /* Centralizando o menu */
    transform: translateX(-50%); /* Centralizando o menu */
}
.menu li {
    padding: 3px;
    cursor: pointer;
}
.perfilMenu a{
    display: block; /* Transformar o link em um bloco para ocupar todo o espaço do elemento pai */
    color: #09717d;
    text-decoration: none; /* Remover o sublinhado padrão */
    padding: 15px; /* Adicionar um padding interno para espaçamento entre o texto e a borda */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.menu li:hover {
    background-color: #f0f0f0; /* Mudança de cor do item do menu ao passar o mouse */
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 15px; /* Adicionando borda arredondada ao menu */
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
